@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: 0;
  outline: none;
  text-decoration: none;
}
/* .form-control:focus{
    outline: none;
    box-shadow: none;
} */
.user-form {
  display: flex;
  justify-content: center;
}
input {
  text-align: center;
}
.card {
  max-width: 30em;
  flex-direction: column;
  border: 1px solid #f9f5f5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin: 15px;
}
.card img {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #ccc;
  color: #000;
  padding-top: 20px;
  padding-left: 10px;
  box-sizing: border-box;
}

.sidebar a {
  color: #000;
  padding: 10px;
  text-decoration: none;
}
.nav{
  flex-direction: column;
}